@page
@model MadsenCreekRazor.Pages.OurBeersModel
@{
    ViewData["Title"] = "Our Beers";
}

<div class="card-deck">
  @foreach (var beer in Model.Beer)
  {
    <div>
      <div class="card text-white bg-secondary mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">@beer.name</h5>
          <h6 class="card-subtitle mb-2 text-muted">@beer.style</h6>
          <p class="card-text">@beer.description</p>
          @if (!String.IsNullOrEmpty(beer.untappedLink))
          {
            <a href="@beer.untappedLink" class="card-link">Untapped</a>
          }
          @if (!String.IsNullOrEmpty(beer.recipeLink))
          {
            <a href="@beer.recipeLink" class="card-link">Recipe</a>
          }

        </div>
      </div>
    </div>
  }
</div>
